mobile/.DS_Store
mobile/*.pbxuser
!mobile/default.pbxuser
mobile/*.mode1v3
!mobile/default.mode1v3
mobile/*.mode2v3
!mobile/default.mode2v3
mobile/*.perspectivev3
!mobile/default.perspectivev3
mobile/xcuserdata
mobile/*.xccheckout
mobile/*.moved-aside
mobile/DerivedData
mobile/*.hmap
mobile/*.ipa
mobile/*.xcuserstate
mobile/ios/.xcode.env.local

mobile/build/
mobile/.idea
mobile/.gradle
mobile/local.properties
mobile/*.iml
/mobile/*.hprof
mobile/.cxx/
mobile/*.keystore
!mobile/debug.keystore

mobile/node_modules/
mobile/npm-debug.log
mobile/yarn-error.log
**/mobile/fastlane/report.xml
**/mobile/fastlane/Preview.html
**/mobile/fastlane/screenshots
**/mobile/fastlane/test_output
mobile/*.jsbundle
/mobile/ios/Pods/
/mobile/vendor/bundle/
mobile/.metro-health-check*
mobile/coverage

server/.idea
server/.bundle
server/log/*
server/tmp/*
!/server/log/.keep
!/server/tmp/.keep
/server/tmp/pids/*
!/server/tmp/pids/
!/server/tmp/pids/.keep
/server/storage/*
!/server/storage/.keep
/server/tmp/storage/*
!/server/tmp/storage/
!/server/tmp/storage/.keep
/server/config/master.key
/server/config/credentials/production.key

website/.idea
website/build
website/node_modules
website/yarn-error.log
